.product {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;

  box-shadow: 0px 0px 10px 0px grey;
  padding: 10px;
  height: 100%;
}

.category {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  /* background-color: #e49200; */
  background-color: #5a5a5a;
  padding: 3px 6px;
  border-radius: 3px;
}

.image {
  width: 100%;
  border: 1px dashed lightgrey;
  aspect-ratio: 1;
  object-fit: contain;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
}

.additional_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-top: auto;
  font-weight: 700;
}

.popularity {
  font-weight: 700;
  font-size: 0.8rem;
}
